
@font-face {
    font-family: Ubuntu;
    src: url(../Ubuntu-Regular.ttf);
}
body{
    font-family: Ubuntu;
    margin: 0;
    background-color: white;
    margin: 0;
    padding: 0;
}
.title2{
  background-image: url(../img/background-blue.JPG);
  margin: 0;
  padding: 0;
  color: white;
}
.maintitle{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
}
.subtitle{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3;
    margin-bottom: 0;
}
.navbar {
    overflow: hidden;
    position: sticky;
    top: 0;
    margin: 0;
  }
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .navbar a.home{
    float: right;
    padding: 8px 8px;
  }
  .navbar a.cube img{
    height: 33px;
  }
  #game{
    scroll-margin-top: 53px;
  }
  #cs2{
    scroll-margin-top: 53px;
  }
  #valorant{
    scroll-margin-top: 53px;
  }
  #ow2{
    scroll-margin-top: 53px;
  }
  #fortnite{
    scroll-margin-top: 53px;
  }
.card{
  background-image: url(../img/background-white.JPG);
  font-size: 22px;
}
.card-title{
  font-size: 30px;
}
.card-body{
  padding: 10px;
}